@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-2">
            <img src="~/Content/img/bugtracker-icon.png" class="logo" />
        </div>
        <div class="col-xs-10">
            <h1>BugTracker</h1>
            <p class="lead">BugTracker is an Interface for Tracking and Resolving Issues.</p>
        </div>
    </div>
</div>
<container><div class="row">
    <section class="col-md-6 text-info">
        Existing users please log-in now.  <br /><br />If you are new to our site, we are glad you are here.
        We want to give you a tour of our BugTracker, and then provide you with the freedom to explore.
        <br /><br />
    </section>
    <div>
        <form action="@Url.Action("AdminLogin", "Account", new { autoLogin = "Administrator" })" method="post">
            @Html.AntiForgeryToken()
            <button class="btn btn-default btn-primary btn-large" type="submit">BEGIN TOUR HERE</button>
            <br /><br />
        </form>
    </div>
</div></container>
