@{
    ViewBag.Title = "Tour";
}



<div class="row">
    <div class="container">
        <div class="row clearfix">
            @*javascript begin here for Tour*@
        </div>
    </div>
</div>

<div class="container">
    <div class="row clearfix">
        <div id="Start" class="col-md-12 column">
            <h1>
                Tour BugTracker.
            </h1>
        </div>
    </div>
    <div class="row clearfix">
        <div id="Users" class="col-md-12 column">
            <img src="~/Content/img/Blank.png" />
            <img src="~/Content/img/Users.png" />
        </div>
    </div>
    <div id="Projects" class="row clearfix">
        <div class="col-md-12 column">
            <img src="~/Content/img/Blank.png" />
            <img src="~/Content/img/Projects.png" />
        </div>
    </div>
    <div id="Tickets" class="row clearfix">
        <div class="col-md-12 column">
            <img src="~/Content/img/Blank.png" />
            <img src="~/Content/img/tickets.png" />
        </div>
    </div>
    <div id="About" class="row clearfix">
        <div class="col-md-12 column">
            <img src="~/Content/img/Blank.png" />
            <img src="~/Content/img/About.png" />
        </div>
    </div>
    <div class="row clearfix">
        <img src="~/Content/img/Blank.png" />
        <div id="Contact" class="col-md-12 column">
            <img src="~/Content/img/Contact.png" />
        </div>
    </div>
</div>


<link href="~/Content/jquery-impromptu.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-impromptu.min.js"></script>
<script src="~/Scripts/Tour.js"></script>