@{
    ViewBag.Title = "Tour";
}


<script src="~/Scripts/jquery-impromptu.min.js"></script>
<script src="~/Scripts/Tour.js"></script>

<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-6">
            <h1>What is bug tracking?</h1>
            <p>Bug Tracking is the process of reporting, documenting and resolving issues in a company's products and services.</p>
            <h3>Who uses bug tracking software?</h3>
            <p>Any company that has a call center to respond to user complaints and requests uses bug tracking software.  Bug Tracking can be used in any business to ensure quality control with regards to resolving and fixing product issues.</p>
            <h3>What do the individual roles mean?</h3>
            <ul>
                <li>Submitters: Create tickets to report problems and feature requests for a product</li>
                <li>Project Managers: Create new projects, assign submitters and developers to projects and assign tickets to developers for resolution</li>
                <li>Developers: Interact with submitters and the product directly to resolve issues</li>
                <li>Administrators: Manage users' roles and oversee Project Managers</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h1>Where do I start?</h1>
            <h3>Projects</h3>
            <p>Head on over to the projects tab and create a new project.  The project is the piece of software, product or service that has issues to keep track of and solve.</p>
            <h3>Tickets</h3>
            <p>Visit the Tickets tab and create a new ticket for your project.  Note that a ticket is automatically assigned a status of "Not Started" upon generation.  You may also select a type and a priority for the ticket.</p>
            <h3>Ticket Details</h3>
            <p>Next, find your ticket in the ticket table.  You can use the search feature and sort the table to help find it.  If you made an error while submitting the ticket, you may click the pencil to edit the ticket.  Click the magnifying glass to view the ticket details.</p>
            <p>Users are able to add comments and attachments (usually screenshots of the problem) to the specific ticket.  Every change to a ticket is tracked in the Ticket Histories section for accountability.</p>
            <h3>Types, Priorities and Statuses</h3>
            <p>While submitting a ticket, you must assign it a priority and type.  If the available options are insufficent, you may edit the categories available through the Types, Priorities and Statuses page available through the Tickets drop-down menu.</p>
            <h3>User Management</h3>
            <p>As an Administrator or Project Manager, you may assign and unassign users to Roles, Projects and Tickets by using the Users page.</p>
        </div>
    </div>
</div>