@{
    ViewBag.Title = "Tickets by Type";
}

<script src="~/Scripts/piechart.min.js"></script>
<link href="~/Content/piechart.min.css" rel="stylesheet" />

<div id="content">
    <div class="framework-container">
        <div class="example" onpagenavigation id="demo"></div>
    </div>
</div>